<div class="login-background"></div>
<div class="login">
  <div class="login-header">
    CONECTAR
  </div>

  <div class="login-content">
    <form #loginForm="ngForm">
      <div class="container-fluid vs-modal-content">
        <div class="row">
            <input pInputText placeholder="Usuário"
                   required
                   [ngModel]="email"
                   (ngModelChange)="email=$event"
                   #nome="ngModel"
                   name="email">
        </div>
        <div class="row">
            <input pInputText placeholder="Senha"
                   type="password"
                   required
                   [ngModel]="password"
                   (ngModelChange)="password=$event"
                   #nome="ngModel"
                   name="password" />

        </div>
      </div>
    </form>
  </div>

  <section class="box ">
    <header class="panel_header">
      <h2 class="title pull-left">Basic Info</h2>
      <div class="actions panel_actions pull-right">
        <a class="box_toggle fa fa-chevron-down"></a>
        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
        <a class="box_close fa fa-times"></a>
      </div>
    </header>
    <div class="content-body">
      <div class="row">
        <form action="#" method="post">
          <div class="col-xs-12 col-sm-9 col-md-8">
            <div class="form-group">
              <label class="form-label" for="field-131855">Tag Name</label>
              <span class="desc"></span>
              <div class="controls">
                <input type="text" value="" class="form-control" id="field-131855">
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="field-132124">Tag Slug</label>
              <span class="desc"></span>
              <div class="controls">
                <input type="text" value="" class="form-control" id="field-132124">
              </div>
            </div>


            <div class="form-group">
              <label class="form-label">Description</label>
              <span class="desc"></span>
              <div class="controls">
                <textarea class="form-control autogrow" cols="5" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 54px;"></textarea>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
            <div class="text-left">
              <button type="button" class="btn btn-primary">Save</button>
              <button type="button" class="btn">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <div class="login-footer">
    <button md-raised-button
            color="primary"
            [disabled]="!loginForm.form.valid"
            (click)="login()">
      Conectar
    </button>
  </div>
</div>
