<!-- Sidebar Holder -->
<nav id="sidebar" #menu *ngIf="render">
  <div class="sidebar-header">
    <h3>SlotShop</h3>
    <strong>SS</strong>
  </div>
  <ul class="list-unstyled components">
    <li class="active">
      <a routerLink="/dashboard">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#product" data-toggle="collapse" aria-expanded="false">
        <i class="fa fa-inbox"></i>
        Produtos
      </a>
      <ul class="collapse list-unstyled" id="product">
        <li><a routerLink="/product">Produtos</a></li>
        <li><a routerLink="/brand">Marcas</a></li>
        <li><a routerLink="/model">Modelos</a></li>
      </ul>
    </li>
    <li>
      <a href="#category" data-toggle="collapse" aria-expanded="false">
        <i class="fa fa-tags"></i>
        Categorias
      </a>
      <ul class="collapse list-unstyled" id="category">
        <li><a routerLink="/category">Categorias</a></li>
        <li><a routerLink="/subCategory">Sub Categorias</a></li>
      </ul>
    </li>
  </ul>
</nav>
