<div class="row">
  <div class="page-title">
    <h3 class="title">Marcas</h3>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Lista de Marcas</strong></h3>
      <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
    </div>
    <div class="panel-body">
      <button class="btn btn-effect-ripple btn-info" (click)="new();"><i class="fa fa-plus"></i> Novo</button>
      <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none; margin-top:20px;">
        <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-effect-ripple btn-info"><i class="fa fa-search"></i></button>
        </span>
          <input #gb type="text" pInputText size="50" placeholder="Buscar" class="form-control">
        </div>
      </div>
      <p-dataTable [value]="lista"
                   [rows]="5"
                   [paginator]="true"
                   [pageLinks]="3"
                   [rowsPerPageOptions]="[5,10,15]"
                   selectionMode="single"
                   [globalFilter]="gb"
                   [draggable]="false">
        <p-column field="id" header="Código"></p-column>
        <p-column field="name" header="Nome"></p-column>
        <p-column header="Opções" styleClass="text-center">
          <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
            <div class="btn-group">
              <button type="button" class="btn btn-effect-ripple btn-primary" (click)="onRowSelect(item)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-effect-ripple btn-danger" (click)="remove(item)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
  <p-dialog [(visible)]="displayEdit" [responsive]="true" showEffect="fade" [draggable]="false" [modal]="true" [width]="300" >
    <p-header>
      {{acao}}
    </p-header>
    <form #brandForm="ngForm">
      <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="form-group">
            <label for="codigo">Código</label>
            <input [(ngModel)]="objeto.id" name="codigo" class="form-control" type="text" pInputText  id="codigo" #codigo="ngModel" disabled />
          </div>
          <div class="form-group" [ngClass]="{'has-error': !name.valid && (name.dirty || name.touched)}">
            <label for="name">Nome</label>
            <input [(ngModel)]="objeto.name" name="name" class="form-control" type="text" pInputText  id="name" minlength="4" #name="ngModel" required/>
            <div class="help-block" *ngIf="name.errors && (name.dirty || name.touched)">
              <ul class="list-unstyled">
                <li *ngIf="name.errors.required">
                  O campo nome deve ser preenchido!
                </li>
                <li *ngIf="name.errors.minlength">
                  O nome deve conter no minimo 4 letras!
                </li>
              </ul>
            </div>
          </div>
      </div>
      <p-footer>
        <button type="button" class="btn btn-effect-ripple btn-success" (click)="persist()" [disabled]="!brandForm.valid"><i class="fa fa-check" aria-hidden="true"></i> Salvar</button>
        <button type="button" class="btn btn-effect-ripple btn-info" (click)="displayEdit=false"><i class="fa fa-close"></i> Fechar</button>
      </p-footer>
    </form>
  </p-dialog>
</div>

